body.desabilitado {

    & #cursor,
    & .element,
    & #divVideo,
    & #sec-anima,
    & model-viewer {
        display: none !important;
    }

    & * {
        cursor: auto !important;
    }

    & #imgCarregar,
    & .loader span::before,
    & #top3-div,
    & #top3-div::before,
    & #outros::before,
    & #outros,
    & .box-site::before,
    & .box-site::after,
    & #logodiv {
        animation: none;
    }

    & .box-site,
    & .box-site::before,
    & .box-site::after {
        transform: none;
        opacity: 1;
        background-color: var(--anima-brilho);
    }

    & #box-swiper {
        transition-duration: 0s;
    }

    & #imglogo {
        display: block;
    }

    & h2 {
        background: linear-gradient(to right, #ff0, #0ff);
        -webkit-background-clip: text;
        background-clip: text;
        animation: none;
    }
}