* {
    cursor: auto;
}

#input-div {
    width: initial;
    border-radius: 0 20px 0 0;
}

#cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-top: 5px solid #0f0;
    border-left: 5px solid #0f0;
    transform-origin: top;
    transform: translate(-1px, 1px) rotate(15deg);
    pointer-events: none;
    filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 15px #0f0) drop-shadow(0 0 35px #0f0);
    z-index: 0;
    display: block;
}

#cursor::before {
    content: '';
    position: absolute;
    left: -2.5px;
    width: 5px;
    height: 40px;
    background-color: #0f0;
    transform-origin: top;
    transform: rotate(315deg);
    display: block;
}

.element {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #0f0;
    pointer-events: none;
    width: 10px;
    height: 10px;
    transition: 1s;
    filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 25px #0f0);
    z-index: 0;
    display: block;
}

.swiper {
    width: 80vw;
    height: 50vh;
}

#swiper-p {
    width: 80vw;
    border-radius: 20px;
}

.setas {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 2.5px 2.5px 10px 0px #000;
    padding: 10px;
    border-radius: 50%;
    transition-duration: .5s;
}

.setas span {
    font-size: 50px;
    color: #000;
}

.setas:hover {
    transform: scale(1.1);
}

#back-swiper {
    background-size: auto;
}

.acessar-div .acessar-img {
    width: 100%;
    height: initial;
}

.acessar-div .divp p {
    text-align: center;
    width: initial;
    padding: 0 20px;
}

.acessar-div .acessar-btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0px 0px 20px 10px #fff;
}

.acessar-div .x:hover {
    transform: scale(1.1);
}

.lugar {
    top: -10px;
    font-size: 100px;
}

.acessar-div h3 {
    top: 10px;
    font-size: 40px;
}

.box-site {
    margin-bottom: 0;
}

.box-site:hover {
    transform: scale(1.1);
    background-color: var(--anima-brilho);
    box-shadow: 0px 0px 15px 10px var(--anima-brilho);
}

.box-site:hover .nome-site {
    display: flex;
}

.box-img img {
    filter: none;
    transform: none;
}

.box-site:hover .box-img img {
    transform: scale(1.1);
}

.box-site:hover .nome-site {
    background-image: linear-gradient(to top, var(--anima-brilho), transparent, transparent, transparent);
    box-shadow: inset 0px 0px 25px 0px var(--anima-brilho);
}

.box-site:hover .nome-site p {
    transform: scale(1.25);
    text-shadow:
        -2px -2px 0px #000,
        -2px 2px 0px #000,
        2px -2px 0px #000,
        2px 2px 0px #000,
        0px 0px 10px #000,
        0px 0px 10px #000,
        0px 0px 10px #000,
        0px 0px 10px #000,
        0px 0px 10px #000,
        0px 0px 10px #000,
        0px 0px 10px #000;
}

#divImg img {
    width: 30%;
}

section#sec-anima {
    transform: scale(1.5);
}

#top3-div::before, #outros::before {
    padding: 10px 50px;
}

#top3-div, #outros {
    width: initial;
    padding: 50px;
    padding-top: 50px;
}

ol li {
    padding-left: 50px;
}

ol li::before {
    left: 0;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
}

main {
    background-size: initial;
}

h2 {
    font-size: 10vw;
}

#logodiv:hover {
    transform: scale(1.1);
}

@media screen and (min-width:750px) {
    ol {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1100px) {
    ol {
        grid-template-columns: repeat(3, 1fr);
    }

    video {
        height: initial;
        width: 100vw;
    }
}
